/* General styling for the TabPane */
.tab-pane {
    -fx-background-color: #f5f5f5;
}

/* Styling for Tabs */
.tab {
    -fx-background-color: #0282C2;
    -fx-text-base-color: white;
}

.tab:selected {
    -fx-background-color: #ffffff;
    -fx-text-base-color: #0282C2;
}

/* Styling for TextFields */
.text-field {
    -fx-border-color: black;
    -fx-border-width: 0 0 1 0;
    -fx-prompt-text-fill: #a9a9a9;
    -fx-background-insets: 0 0 -1 0, 0, 1;
    -fx-background-color: transparent;
    -fx-font-size: 14px;
}

/* Styling for Buttons */
.button {
    -fx-background-color: #0282C2;
    -fx-background-radius: 14;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8px 16px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #0260A2;
}

.button:pressed {
    -fx-background-color: #024080;
}

.button.log-in {
    -fx-background-color: #0282C2;
    -fx-background-radius: 14;
    -fx-text-fill: white;
}

/* Additional styling for the AnchorPane */
.anchor-pane {
    -fx-background-color: #eff3f5;
}
